.realtors {
  background-color: $color-secondary;
  // grid-row: 1/2;
  grid-column: col-end 6 / full-end;
  padding: 3rem;
  display: grid;
  grid-row-gap: 2rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
  @media only screen and (max-width: $bp-medium) {
    grid-column: full-start/full-end;
  }
  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center;
    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);
    }
    @media only screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content;
    }
  }
  &__img {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 50%;
    display: block;
  }
  &__detail {
  }
  &__name {
  }
  &__merits {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
