.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  // display: flex;

  // justify-content: center;
  @media only screen and (max-width: $bp-large) {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
  }
}

%dash {
  width: 4.5rem;
  height: 0.2rem;
  background-color: white;
  // border: none;
}

%align-bf-af {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-btn {
  // display: block;
  width: 100%;
  height: 7rem;
  border: none;
  background-color: transparent;
  transition: all 0.2s;
  // margin-top: 3rem;
  cursor: pointer;
  // text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: $bp-large) {
    width: 10rem;
    height: 100%;
  }
  span {
    @extend %dash;
    display: inline-block;
    position: relative;
    // margin-top: 2.5rem;
    transition: all 0.2s;
    &::after {
      @extend %dash;
      @extend %align-bf-af;
      transform: translateY(-1.5rem);
      // background-color: red;
      @media only screen and (max-width: $bp-large) {
        transform: translateY(-1.3rem);
      }
    }
    &::before {
      @extend %dash;
      @extend %align-bf-af;
      transform: translateY(1.5rem);
      @media only screen and (max-width: $bp-large) {
        transform: translateY(1.3rem);
      }
    }
  }
  &:hover {
    background-color: rgba($color-grey-dark-1, 0.5);
  }
}
